<?php
define('DEVELOPMENT', true, true);
define('DIR_FILES','/var/www/html/',true);

define('DB_TYPE', 'mysql');
define('DB_HOST', 'localhost');
define('DB_NAME', 'framedev');
define('DB_USER', 'root');
define('DB_PASS', 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');

define('DOMAIN','172.20.8.15');
define('URL_APP','http://'.DOMAIN.'/',true);
define('SITE_NAME','F R A M E D E V',true);
define('SLOGAN_NAME','Activemedia & DCID Software',true);


/*Configuracion para envio de correo via perl mail*/
define('MAIL_HOST','smtp.gmail.com');
define('MAIL_USERNAME','XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');
define('MAIL_PASSWORD','XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');
define('MAIL_FROM','XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');


/*Zona horaria*/
date_default_timezone_set('America/Mexico_City');

/*Variables*/
define('URL_CONTROLADOR','../Framedev/Controladores/',true);
define('URL_MODELO','../Framedev/Modelos/',true);
define('URL_VISTA','../vistas/',true);
define('URL_TEMPLATE','../vistas/plantilla/',true);
define('SITE','../vistas/site/',true);
define('URL_PUBLIC',URL_APP.'',true);


/*Móvil*/
define('URL_TEMPLATE_FW7','../vistas/framework7/',true);
define('FW7',URL_PUBLIC.'fw7/',true);
define('MATERIAL',URL_PUBLIC.'material/',true);

//API DE GOOGLE MAPS
define('GOOGLE_MAPS','XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',false);
?>
